.contact-page {
    a {
        text-decoration: none;
    }

    .btn-add {
        position: fixed;
        bottom: 1rem;
        right: 1rem;

        img {
            height: 3rem;
        }
    }
}